*.idb filter=lfs diff=lfs merge=lfs -text
./1085[[:space:]]-[[:space:]]Dragon[[:space:]]Ball[[:space:]]Z[[:space:]]-[[:space:]]The[[:space:]]Legacy[[:space:]]of[[:space:]]Goku[[:space:]]II[[:space:]](U)(TrashMan).gba.i64 !text !filter !merge !diff
*.gba.i64 !text !filter !merge !diff
